<html>
  <body>
    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}
  <ul>
      {% for product in products %}
      <li>{{ product.title }}-{{ product.collection.title }}</li>
{# here we try to get collection title using relationship #}
{# because one to many relationship is defined in models.py #}
{# but in views.py it is not defined that collection data will be accessed #}
{# therefore it retrive collection title by executing query in every iteration #}
      {% endfor %}
  </ul>
  </body>
</html>
